{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Sticky Notes</title>

    <link rel="stylesheet"
          href="{% static 'notes/style.css' %}">
</head>
<body>

    <header>

        <div class="title-banner">

            <div class="mini-note"></div>

            <h1>Sticky Notes</h1>

            <div class="mini-note"></div>

        </div>

        <hr>

    </header>

    {% block content %}
    {% endblock %}

</body>
</html>